:root {
    --height-logo-header: 60px;
    --height-logo-footer: 45px;
    --height-logo-signin: 55px;
    --height-logo-mobile: 40px;
    --max-width-global-wrap: 1200px;
    --max-width-post-wrap: 700px;
    --border: 1px dashed;
    --font-family-one: 'Spartan', sans-serif;
    --font-weight-one-bold: 700;
    --font-family-two: 'Spartan', sans-serif;
    --font-weight-two-medium: 500;
    --font-weight-two-semi-bold: 600;
    --font-weight-two-bold: 700;
    --font-family-three: 'Mulish', sans-serif;
    --font-weight-three-regular: 400;
    --font-family-four: 'Source Code Pro', monospace;
    --font-weight-four-medium: 500;
    --color-details: #00e6cb;
    --color-announcements: #fed672;
    --color-font-one: #141c3a;
    --color-font-two: #141c3a;
    --color-one: #f1f1f1;
    --color-two: #141c3a;
    --color-three: #9ea1a4;
    --color-four: #fff;
    --color-body: #fff;
    --color-dots: #141c3a;
    --color-search-close: #fff;
    --color-notification: #aaef52;
    --color-notification-false: #F74856;
    --bg-color-all: rgba(0, 0, 0, .08);
    --bg-color-hero: rgba(0, 0, 0, .025);
    --bg-color-small-image: rgba(0, 0, 0, .08);
    --bg-search: rgba(0, 0, 0, .7);
    --bg-nav: rgba(0, 0, 0, .03);
    --opacity-bg-color: 1;
    --opacity-bg-dots: .5;
    --box-shadow: rgba(0, 0, 0, .1);
    --box-shadow-nav: transparent
}

.global-hash-dark-version {
    --color-font-one: #f7f9f9;
    --color-font-two: #182029;
    --color-one: #242d39;
    --color-two: #f7f9f9;
    --color-three: #485b73;
    --color-four: #242d39;
    --color-body: #182029;
    --color-dots: #485b73;
    --color-search-close: #f7f9f9;
    --color-notification: #aaef52;
    --color-notification-false: #F74856;
    --bg-color-all: #293340;
    --bg-color-hero: #1e2732;
    --bg-color-small-image: #293340;
    --bg-search: rgba(0, 0, 0, .6);
    --bg-nav: #242d39;
    --opacity-bg-color: .95;
    --opacity-bg-dots: 1;
    --box-shadow: transparent;
    --box-shadow-nav: transparent
}
.navbar{ 
    padding-top: 20px !important;
    background: rgb(255, 208, 0);
} 
.navbar-brand{
    font-size: 14px !important;
    font-family: 'Spartan', sans-serif;
    font-weight: bolder;
}
.nav-link , .navbar-brand{ 
    color: black; cursor: pointer;
    font-size: 10px;
    font-family: 'Spartan', sans-serif;
}

.nav-link{ 
    margin-right: 1em !important;
    background:white;
}

.nav-link:hover{ 
    box-shadow: 10px 10px black;
}

.navbar-collapse{ 
    justify-content: flex-end;
}

.navbar-toggler{  
    background:#fff !important;
}
.navpic{
    position: absolute;
    left:700px;
    top:40px;
    width:100px;
}
.body{
    overflow-x: hidden;
}
.row{
    padding: 0;
    padding-top: 100px;
    font-family: 'Spartan', sans-serif;
    font-weight: 800;
    justify-content:center;
    margin-top: 10px;
    font-size: 20px;
    justify-self: start;
}
.spaceright{
    margin-right: 50px;
    border-right: black dashed 2px;
}
.bigcolumn{
    padding-left: 0;
}
.hello{
    border-top: white 4px solid;
    padding-top: 30px;
    margin:0px;
}
.smalltext{
    font-family: 'Source Code Pro', monospace;
    text-align: left;
    margin:0%;
    font-size: 12px;
    padding-top: 7px;
    padding-bottom: 15px;

}
.mark{
    background-color: white;
    color: black;
}

.loop-wrap {
    margin-left: 136px;
    margin-right: 220px;
    margin-top:50px;
    -webkit-animation: slideTopLoop .8s ease;
    animation: slideTopLoop .8s ease;
    flex-wrap: wrap;
}

.loop-wrap,.item-container {
    display: flex
}

.item,.item-container {
    box-sizing: border-box
}

@-webkit-keyframes slideTopLoop {
    0% {
        transform: translateY(70px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes slideTopLoop {
    0% {
        transform: translateY(70px)
    }

    to {
        transform: translateY(0)
    }
}

.item.is-hero .item-content>span {
    position: initial;
    display: inline-block;
    margin-bottom: 20px
}

.item {
    max-width: 50%;
    margin-top: 12vh;
    padding-top: 0;
    padding-bottom: 0;
    flex: 1 0 50%
}

.item.is-hero {
    max-width: 100%;
    margin-top: 10vh;
    padding: 50px 0;
    flex-basis: 100%
}

.item.is-even {
    padding-right: 35px;
    padding-left: 60px
}

.item.is-odd {
    padding-right: 60px;
    padding-left: 35px
}

.item-container {
    position: relative;
    max-width: 100%
}

.item-container::after {
    background-color: var(--bg-color-hero)
}

.item.is-hero .item-container::before {
    z-index: -2;
    top: -6vh;
    right: 0;
    bottom: -4vh;
    max-width: 40%;
    opacity: var(--opacity-bg-dots);
    background-image: radial-gradient(var(--color-dots) 6%,transparent 0);
    background-size: 28px 28px
}

.item.is-hero .item-container::before,.item.is-hero .item-container::after {
    position: absolute;
    width: 100%;
    content: '';
    height: 570px;
}

.item.is-hero .item-container::after {
    z-index: -3;
    top: -7vh;
    right: 70px;
    bottom: 4vh;
    max-width: calc(59.7% - 65px)
}

.item.is-hero.is-image .item-container::before {
    max-width: 491px
}

.item.is-hero.is-image .item-container::after {
    max-width: 427px
}

.item.is-even .item-container,.item.is-odd .item-container {
    border-left: var(--border) var(--color-three)
}

.item-image {
    line-height: 0;
    position: relative;
    z-index: 1;
    width: 70px !important;
    height: 200px !important;
}

.item-image::after {
    position: absolute;
    height: 70px !important;
    z-index: -1;
    top: -10px;
    right: 20px;
    bottom: 10px;
    left: -10px;
    content: '';
    pointer-events: none;
    background-color: var(--bg-color-small-image)
}

.item.is-hero .item-image {
    top: 0;
    right: 40px;
    float: none;
    width: 200px;
    height: 50%;
    margin: 50px;
    -webkit-animation: slideTopImage 1s ease;
    animation: slideTopImage 1s ease;
    order: 2;
    flex: 0 0 350px
}

.item.is-hero .item-image::after {
    display: none
}
.item-content {
    width: 100%;
    padding: 10px 0 10px 5%
}

.item.is-hero .item-content {
    padding: 0;
    will-change: transform
}

.item.is-hero.is-image .item-content {
    padding-right: 5%
}

.item-title {
    font-size: 30px;
    width: 100%;
    margin: 0 0 2vh -2px
}

.item.is-hero .item-title {
    font-size: 75px;
    max-width: 1000px;
    margin-left: -4px
}

.item.is-hero .item-title a {
    -webkit-filter: brightness(107%);
    filter: brightness(107%)
}

@supports (-ms-ime-align:auto) {
    .item.is-hero .item-title a {
        -webkit-filter: initial;
        filter: initial
    }
}
img{
    width:350px;
}
.size{
    top:-50px !important;
    right: -20px !important;
}
.item-excerpt {
    font-family: var(--font-family-two);
    font-size: 13px;
    font-weight: var(--font-weight-two-medium);
    line-height: 1.6;
    width: 95%;
    max-width: 400px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 0 10px
}

.item.is-hero .item-excerpt {
    font-size: 14px;
    font-weight: var(--font-weight-two-semi-bold);
    line-height: 1.9;
    max-width: 600px;
    padding-top: 25px;
    padding-bottom: 4vh;
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 30px;
    column-gap: 30px
}

@media (max-width: 480px) {
    .item,.item.is-hero {
        margin-top:0;
        margin-bottom: 20px
    }

    .item.is-hero {
        padding-bottom: 35px
    }

    .item.is-even,.item.is-odd {
        padding-right: 0;
        padding-left: 0
    }

    .item.is-hero .item-container {
        flex-wrap: wrap
    }

    .item.is-hero .item-container::after {
        right: 0;
        max-width: 59.7%
    }

    .item.is-hero.is-image .item-container::before,.item.is-hero.is-image .item-container::after {
        display: none
    }

    .item-image::after {
        background-color: var(--bg-color-hero);
    }

    .item.is-hero .item-image {
        max-width: 100%;
        margin-bottom: 20px;
        flex-basis: 100%;
        order: 0
    }

    .item.is-hero .item-image img,.item.is-hero.is-image .item-image::after {
        max-width: 240px
    }

    .item.is-hero .item-container::before,.item.is-hero.is-image .item-image::before {
        background-size: 17px 17px
    }

    .item.is-hero.is-image .item-image::before,.item.is-hero.is-image .item-image::after {
        position: absolute;
        top: -35px;
        left: 35px;
        display: block;
        content: ''
    }

    .item.is-hero.is-image .item-image::before {
        z-index: -2;
        right: 0;
        bottom: 10px;
        background-image: radial-gradient(var(--color-dots) 6%,transparent 0)
    }

    .item.is-hero.is-image .item-image::after {
        z-index: -3;
        bottom: 40px
    }

    .item.is-hero .item-content,.item.is-hero.is-image .item-content {
        padding-right: 0
    }

    .item.is-hero .item-content>span {
        margin-bottom: 10px
    }

    .item.is-hero .item-title {
        font-size: 32px;
        margin-bottom: 0;
        margin-left: -1px
    }
}

@media (min-width: 481px) and (max-width:768px) {
    .item,.item.is-hero {
        margin-top:4vh;
        margin-bottom: 0
    }

    .item.is-even,.item.is-odd {
        padding-right: 10%;
        padding-left: 10%
    }

    .item.is-hero .item-container::after {
        right: 26px;
        max-width: calc(59.7% - 26px)
    }

    .item.is-hero.is-image .item-container::before {
        max-width: 275px
    }

    .item.is-hero.is-image .item-container::after {
        max-width: 245px
    }

    .item.is-hero .item-image {
        width: 200px;
        flex-basis: 200px
    }

    .item.is-hero .item-title {
        font-size: 40px
    }
}

@media (max-width: 768px) {
    .item {
        max-width:100%;
        flex-basis: 100%
    }

    .item.is-hero.is-first {
        margin-top: 0
    }

    .item.is-even .item-container,.item.is-odd .item-container {
        display: block;
        border-left: none
    }

    .item.is-odd .item-container>span,.item.is-even .item-container>span {
        position: initial;
        display: inline-block;
        margin-bottom: 5px
    }

    .item-content {
        padding-left: 0
    }

    .item-title {
        margin-left: 0
    }
}
/*---------4 part writing area-------------*/
.part-4{
    margin-top: 135px;
}
.big-text{
    font-size:30px;
    margin:0px;
}
.mediumtext{
    font-family: var(--font-family-two);
    font-size: 13px;
    font-weight: var(--font-weight-two-medium);
    max-width: 400px;
    color: black;
}
.colpart-4{
    padding-left:25px !important;
    border-left: var(--border) black;
}
.mediumpic{
    width:20%;
    position:absolute;
    left:350px;
    top:10px;
}
/*------- Subscribe---------*/
.subscribe-wrap,.subscribe-form {
    display: flex
}

.subscribe-form,.subscribe-form button {
    position: relative
}

.subscribe-wrap {
    margin: 130px;
    margin-bottom: 0px !important;
    padding: 0 0 50px;
    align-items: center;
    flex-wrap: nowrap
}

.subscribe-wrap h3 {
    font-family: var(--font-family-one);
    font-weight: var(--font-weight-one-bold);
    font-size: 35px;
    line-height: 1.1;
    box-sizing: border-box;
    min-width: 280px;
    margin: 0;
    padding: 25px 5% 25px 0;
    flex: 1 1 50%
}

.subscribe-form {
    height: 60px;
    flex: 0 0 auto
}

.subscribe-form button,.subscribe-form input {
    font-size: 16px;
    padding: 0 20px
}

.subscribe-form button {
    cursor: pointer;
    color: var(--color-font-two);
    border: 0;
    outline: 0;
    background-color: var(--color-details);
    box-shadow: none;
    flex: 0 0 auto
}


.subscribe-form input {
    display: block;
    width: 250px;
    transition: width .3s ease .2s;
    word-break: normal;
    color: var(--color-body);
    background-color: var(--color-two);
    flex: 1 1 auto
}
.subscribe-form input::-ms-input-placeholder {
    color: var(--color-body)
}

.subscribe-form input::placeholder {
    color: var(--color-body)
}

#button-addon1 {
    color: #ffc371;
  }
  
  i {
    color: #ffc371;
  }
  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
  
  .form-control.shadow-0:focus {
    box-shadow: none;
  }
  .icon{
      width:20px;
  }

  .footer-row{
      padding-top: 30px;
      border-top: var(--border) black;
      margin-left:130px !important;
      margin-right: 130px !important;
      margin-top: 10px !important;
  }
  .footer-column{
      width:150px !important;
  }
  .bold{
      font-weight: bolder;
  }
.rengepic{
    width:80px;
}